h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.sidenav {
    height: 40px;
    width: 100%;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}


.sidenav a {
    padding: 11px;
    color:white;
    display: inline-block;
    text-decoration: none;
}

.sidenav a:hover {
    background-color: cyan;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: solid 1px black;
}

#selected-cell {
    border:1px solid darkred;
    background-color: firebrick;
    color: white;
}

/* Ezt azért csináltam, hogy a reklámok megkapják */
.popup {
    position: fixed;
    background-color: magenta;
    border: 10px solid darkmagenta;
    text-align: center;
    padding-top: 40px;
    top: calc(100% - 150px);
    left: calc(100% - 350px);
    width: 300px;
    height: 60px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: yellow;

    border-radius: 40px;
    text-shadow: 5px 5px 2px red;
    box-shadow: 4px 4px 10px 3px black;
}